*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 3.8rem;
    background-color: #0F1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;   
}

.navlogo{
    height:3.2rem;
    width:7rem;
}
.navlogo>.logo{
    background-image:url("amazon-logo-transparent.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;

}
/* box2 */
.add-icon{
    display: flex;
    align-items: center;
}
.add-1{
    color:#CCCCCC;
    font-size: 0.85rem;
    margin-left: 0.9rem;
}
.add-2{
    font-size: 1rem;
}

/* box3 */
.nav-search{
    display: flex;
    justify-content:space-evenly ;
    background-color: crimson;
    height:2.5rem;
    width: 40rem;
    border-radius: 0.2rem;
}

.nav-search:hover{
    border: 2px solid #fdb352 ;
    
} 

.search-select{
    background-color: #E6E6E6;
    width: 3.3rem;
    text-align: center;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border: none;
}
.search-input{
    width: 100%;
    font-size:1rem;
    border:none;
    padding:0 .6rem;
}
.search-icon{
    width:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0F1111;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
/* box4 */
span{
    font-size: 0.85rem;

}
.nav-signin-2{
    font-size:1rem;
    font-weight: 700;

}
/* box5 */

.nav-cart i{
font-size: 2.3rem;
}
.nav-cart{
    font-size:  0.85rem;
    font-weight: 700;
}

/* panel */
.panel{
    height: 2.4rem;
    line-height: 2.4rem;
    background-color:#222f3d;
    display:flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    font-weight: 700;
    height:100%;
    padding: 0 0.5rem;
    border: 1px solid transparent;
}
.panel-all:hover{
    border:1px solid rgb(187, 212, 214);
}
.panel-opt{
    width:60%;
    font-size:0.85rem;
    height:2.4rem;
    line-height: 2.4rem;
    display:flex;
    justify-content: space-evenly;
}
.panel-opt>div{
    height: 100%;
    border: 1px solid transparent;
}

.panel-opt>div>p{
    display:inline;

}  

.panel-opt>div:hover{
    border:1px solid rgb(187, 212, 214);
    padding: 0 0.5 0;
    
}  

.panel-opt-2{
    font-size: 0.83rem;
    color:#CCCCCC;
    height:100%;
    padding:0 0.5rem;
    border: 1px solid transparent;
}
.panel-opt-2:hover{
    border:1px solid white;
}
/* mid-sec */
.mid-sec{
    background-image: url(main\ image.jpg);
    height: 18.7rem;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.mid-sec-msg{
    background-color:white;
    height:2.5rem;
    width:97%;
    font-size: 0.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.7rem;
}
.mid-sec-msg a{
    color: #007185;
}

/* content */
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#fcd4ec;
    background: linear-gradient(#fcd4ec, rgb(200, 232, 236));
    

}
.box{
    height: 370px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin:10px 0;
}
.box-1{
    margin: 0 1rem 0 1rem;
    font-size: 0.9rem;
    color:#0F1111;
}
.personalcare-img{
    height:300px;
    background-size: cover;
    margin: 1rem 0 1rem 0;
}
.watch-img{
    height:275px;
    background-size: cover;
    margin: 1rem 0 1rem 0;
}
.box-1 a{
    color: #007185;
}
/* footer */

.foot-panel-1{
    background-color: #37475a;
    color: white;
    Height:2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-panel-2{
    height: 300px;
    background-color: #222f3d;
    color:white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin:20px;
}
.foot-panel-2 p{
    font-weight: 700;
    font-size: 1rem;
}
ul a{
    display: block;
    font-size: 14px;
    color:#DDDDDD;
    margin-top: 10px;

}
.foot-panel-3{
    background-color: #222f3d;
    color: #DDDDDD;
    height:70px;
    border-top: 0.1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-panel-3>.logo{
    background-image: url(amazon-logo-transparent.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height:50px;
    width: 100px;
}
.foot-panel-4{
    background-color: #0F1111;
    color:#DDDDDD;
    height:80px;
    text-align: center;
    font-size: 0.8rem;
}
.pages{
    padding-top: 10px;
}
.pages-2{
    padding:5px;
}